@charset "utf-8";


/* 
KCM Design Reset Stylesheet
v1.0.1
First Updated: 2016-03-17
Last Updated: 2016-05-18
Author: KCM

(2016-05-18)
- html, body 에 overflow:hidden 추가
- 전체부분 vertical-align:baseline 에서 vertical-align:middle 로 변경
- caption 숨김처리
*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:middle}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

html, body{height:100%; overflow:hidden;}

body{line-height:1; word-break:break-all; -ms-word-break:break-all; -webkit-text-size-adjust:none}

ol, ul, dl, li, menu{list-style:none}

blockquote, q{quotes:none;}

blockquote:before, blockquote:after, q:before, q:after{content:''; content:none}

table{border-collapse:collapse; border-spacing:0}

textarea{overflow:auto} /* IE 8/9/10/11 기본적 세로 스크롤 막대를 제거합니다. */

input, select, textarea, button, optgroup{font-size:100%; vertical-align:middle; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; margin:0;}

em, address{font-style:normal;}

/* Hyper Link */
a, a:link, a:visited, a:active, a:hover{text-decoration:none}

/* Form Type (html5 & 모바일 적용) */
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:none; border-top-left-radius:0; border-top-right-radius:0; border-bottom-left-radius:0; border-bottom-right-radius:0}
input[type='checkbox']{-webkit-appearance:checkbox}
input[type='radio']{-webkit-appearance:radio}
input[type='number']{-webkit-appearance:none}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}

/* blind */
caption, .blind{overflow:hidden; position:absolute; top:-1px; left:-1px; z-index:-1; width:1px; height:0px; font-size:0; line-height:0; white-space:nowrap}